.carousel {
	margin-top: 10px;
}

.carousel-item mg {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(100%);
}

.row {
	margin-top:10px;
}

.content-box {
	margin: 5px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

.content-box img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%
}

.content-box p {
	text-align: center;
	
}

.container h1 {
	margin-top: 10px;
	text-align: center;
	background-color: grey;
	border: solid;
	
	
}

footer {
	margin-top: 10px;
	background-color: #aaaaaa;
	color: white;
	text-align: center;
	border: solid;	
}

	




